:root{
  --dark: #374151;
  --darker: #1F2937;
  --darkest: #111827;
  --gray: #6B7280;
  --light: #eee;
  --pink: #EC4899;
  --purple: #8B5CF6;
}


.task-list{
  color: dark;
}

*{
   
  margin: 0;
  font-family: 'fira sans', sans-serif;
  box-sizing: border-box;
  
}

body{
  background-color: var(--dark);
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}

 header{
 padding: 2rem 1rem;
 max-width: 800px;
 width: 100%;
 margin: 0 auto;

}

header h1{
  font-size: 2.5rem;
  font-weight: 300;
  color: var(--gray);
  margin-bottom: 1rem;
}

#new-task-form{
  display: flex;
}

input, button{
  appearance: none;
  border: none;
  outline: none;
  background-color: none;
  background: none;

}

#new-task-input{
  flex: 1 1 0%;
  background-color: var(--darker);
  padding: 1rem;
  border-radius: 1rem;
  margin-right: 1rem;
  color: var(--light);
  font-size: 1.25rem;

}

#new-task-input::placeholder{
  color: var(--gray);
}

#new-task-submit{
  color: var(--pink);
  font-size: 1.25rem;
  font-weight: 700;
  background-image: linear-gradient(to right, #008000, #ff0000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  transition: 0.4;
}

#new-task-submit:hover{
  opacity: 0.8;

}

#new-task-submit:active{
  opacity: 0.6;
  
}

main{
  flex: 1 1 0%;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.task-list{
  padding: 1rem;
}


.task-list h2{
  font-size: 1.5rem;
  font-weight: 300;
  color: var(--gray);
  margin-bottom: 1rem;
}

#tasks .task{
  display: flex;
  justify-content: space-between;
  background-color: var(--darkest);
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;

}

#tasks .task .content {
  flex: 1 1 0%;
  background: transparent;
}

#tasks .task .content .text{
  color: var(--light);
  font-size: 1.125rem;
  width: 100%;
  display: block;
  transition: 0.4s;
  background:transparent;
  border: none;
}

#tasks .task .content .text:not(:read-only){
  color: var(--pink);
}

#tasks .task .actions{
  display: flex;
  margin: 0 -0.5rem;
}

.task .actions button{
  cursor: pointer;
  margin: 0 0.5rem;
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.4;

}

.task .actions button:hover{
  opacity: 0.8;
  
}

.task .actions button:active{
  opacity: 0.6;
}

.task .actions .edit{
  background-image: linear-gradient(to right, var(--pink), var(--purple));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-left: 10px;
}  

.task .actions .delete{
  color: crimson;
}


.welcome{
  color: grey;
  text-align: center;
  margin-top:150px;
  font-size: 45px;
  font-weight: 500;
  
}
.below{
  text-align: center;
  color: var(--gray);
  font-size: 20px;
}

.app-lists{
  color: grey;
  text-align: center;
  margin-top: 50px;
}

.text-home{
  color: grey;
}

.home{ 
  margin-bottom: 50px;
  padding:0 50px;

  width: 100%;
  display: flex;
  justify-content:space-between;
}

.home-button{
  border-bottom: 1px solid grey;
  border-radius: 15px;
  padding:10px;
  padding-right:20px ;
  padding-left:20px ;
}

/* Expense Tracker */

.delete-btn{
  border: 2px solid red;
  margin-left: 20px;
}


@media screen  and (max-width:800px){
  .welcome {
    color: grey;
    text-align: center;
    margin-top: 150px;
    font-size: 32px;
    font-weight: 500;
  }
}


@media screen  and (max-width:400px){
  
  #new-task-form{
    display: flex;
    flex-direction: column;
    justify-content: center;

  }

  .task {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--darkest);
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
  
  }

  .actions {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 -0.5rem;
  }

  .below {
    text-align: center;
    color: var(--gray);
    font-size: 16px;
  }

  .welcome {
    color: grey;
    text-align: center;
    margin-top: 150px;
    font-size: 22px;
    font-weight: 500;
  }
}


